*{
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  border: none;
  box-sizing: border-box;
  font-family: sans-serif;
}

.preloader{
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color:  #b0e0b9; */
  background-color: #fff;
  width: 100vw;
  height: 100vh;
}

.loader{
 width: 90px;
  height: 90px;
  border-top-color: transparent;


  /* border: 4px solid #46A358;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite; */


}






















/* 
.preloader {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

.loader {
  width: 40px;
  height: 40px;
  border: 4px solid #46A358;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
} */


