@font-face {
    font-family: "CeraProBlack"; /* 900 */
    src: url('.//fonts/CeraPro-Black.woff2') format('woff2'),
        url('.//fonts/CeraPro-Black.eot') format('eot'),
        url('.//fonts/CeraPro-Black.ttf') format('truetype'),
        url('.//fonts/CeraPro-Black.woff') format('woff')
}

@font-face {
    font-family: "CeraProBold"; /* 700 */
    src: url('.//fonts/CeraPro-Bold.woff2') format('woff2'),
        url('.//fonts/CeraPro-Bold.eot') format('eot'),
        url('.//fonts/CeraPro-Bold.ttf') format('truetype'),
        url('.//fonts/CeraPro-Bold.woff') format('woff')
}

@font-face {
    font-family: "CeraProMedium"; /* 500 */
    src: url('.//fonts/CeraPro-Medium.woff2') format('woff2'),
        url('.//fonts/CeraPro-Medium.eot') format('eot'),
        url('.//fonts/CeraPro-Medium.ttf') format('truetype'),
        url('.//fonts/CeraPro-Medium.woff') format('woff')
}

@font-face {
    font-family: "CeraProRegular"; /* 400 */
    src: url('.//fonts/CeraPro-Regular.woff2') format('woff2'),
        url('.//fonts/CeraPro-Regular.eot') format('eot'),
        url('.//fonts/CeraPro-Regular.ttf') format('truetype'),
        url('.//fonts/CeraPro-Regular.woff') format('woff')
}

@font-face {
    font-family: "CeraProLight"; /* 250 */
    src: url('.//fonts/CeraPro-Light.woff2') format('woff2'),
        url('.//fonts/CeraPro-Light.eot') format('eot'),
        url('.//fonts/CeraPro-Light.ttf') format('truetype'),
        url('.//fonts/CeraPro-Light.woff') format('woff')
}


*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    padding: 30px 120px 52px;
    display: flex;
    flex-direction: column;
}

.main_header{
    display: flex;
    justify-content: space-between;
    align-items: start;
    border-bottom: 1px solid  rgba(70, 163, 88, 0.50);
    margin-bottom: 12px;
}

.list{
    display: flex;
    gap: 50px;
}

.list-item{
    padding-bottom: 25px;
    border-bottom: 3px solid transparent;
    font-family: "CeraProRegular", sans-serif;  
}

.active{
    border-color: #46A358;
    font-weight: 700;
    font-family: "CeraProBold", sans-serif;

}

.btn{
    border-radius: 6px;
    background-color: #46A358; 
    color: #fff;
    padding: 7px 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

main.main{
    background-color: #F5F5F580;
    display: flex;
  justify-content: space-between;
  align-items: center;
}

.maintext{
    padding: 70px 40px 85px;
    display: flex;   
    flex-direction: column;             
    justify-content: center;
    align-items: flex-start;
    gap: 7px;
    width: 49%;
}

.text{
    text-transform: uppercase;
    color: #3D3D3D;
    font-family: "CeraProMedium", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #3D3D3D;
}

h1.title{
    color: #3D3D3D;
    font-family: "CeraProBlack", sans-serif;
    font-size: 70px;
    font-weight: 900;
    line-height: 70px;
    text-transform: uppercase; 
}

h1.title::after {
    content: " Planet";
    color: #46A358;
}

.lowtext{
    color: #727272;
    font-family: "CeraProRegular", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    }

.btn_shopnow{
    color: #FFF;
    font-family: "CeraProBold", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px; 
    text-transform: uppercase;
    border-radius: 6px;
    background-color: #46A358;
    padding: 9px 26px;
    margin-top: 37px;
}

.vase{
    justify-content: flex-end;
    width: 40%;
}

.big_vase{
    position: relative;
}


.small_vase{
    position:absolute;
    bottom: 30%;
    right: 29%;
}

.float_categories{
 display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
margin-top: 46px;
}


.left_menu{
background-color: #FBFBFB;
padding: 14px 18px;
gap: 50px;
} 


h4{
color: #3D3D3D;
font-family: "CeraProBold", sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 16px; 
margin-bottom: 7px;
}

.active_text{
color: #46A358;
font-family: "CeraProBold", sans-serif;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: 40px; 
}





.categories{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 171px 0 12px;
    margin-bottom: 363px;
    
} 



.list-category{
color: #3D3D3D;
font-family: "CeraProRegular", sans-serif;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 40px;
}


.img_sale{
width: 310px;
position: absolute;
left: 8%;
}

/* 
.right-menu{
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
 } 

 */


/* .category-header{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
}  */




/* 
.tabs{
    display: flex;
    justify-content: flex-start;
} */ 