@font-face {
    font-family: 'CeraProBold'; /* 700 */
    src: url('.//fonts/CeraPro-Bold.woff2') format('woff2'),
        url('.//fonts/CeraPro-Bold.eot') format('eot'),
        url('.//fonts/CeraPro-Bold.ttf') format('truetype'),
        url('.//fonts/CeraPro-Bold.woff') format('woff')
}

@font-face {
    font-family: "CeraProMedium"; /* 500 */
    src: url('.//fonts/CeraPro-Medium.woff2') format('woff2'),
        url('.//fonts/CeraPro-Medium.eot') format('eot'),
        url('.//fonts/CeraPro-Medium.ttf') format('truetype'),
        url('.//fonts/CeraPro-Medium.woff') format('woff')
}

@font-face {
    font-family: 'CeraProRegular'; /* 400 */
    src: url('.//fonts/CeraPro-Regular.woff2') format('woff2'),
        url('.//fonts/CeraPro-Regular.eot') format('eot'),
        url('.//fonts/CeraPro-Regular.ttf') format('truetype'),
        url('.//fonts/CeraPro-Regular.woff') format('woff')
}

@font-face {
    font-family: 'CeraProLight'; /* 250 */
    src: url('.//fonts/CeraPro-Light.woff2') format('woff2'),
        url('.//fonts/CeraPro-Light.eot') format('eot'),
        url('.//fonts/CeraPro-Light.ttf') format('truetype'),
        url('.//fonts/CeraPro-Light.woff') format('woff')
}



.login {
    font-family: 'CeraProRegular', sans-serif;
    color: #3D3D3D;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
}

.register{
color: #46A358;
font-family: 'CeraProMedium', sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 16px;
}

.sign {
color: #3D3D3D;
font-family: "CeraProLight", sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 250;
line-height: 16px;
}

.form-text{
color: #3D3D3D;
font-family: 'CeraProRegular', sans-serif;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 16px;
}

input{
color: #A5A5A5;
font-family: 'CeraProRegular', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 16px;
}

.btn-register{
color: #FFF;
font-family: 'CeraProBold', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 16px;
}