@font-face {
    font-family: "CeraProBlack"; /* 900 */
    src: url('.//fonts/CeraPro-Black.woff2') format('woff2'),
        url('.//fonts/CeraPro-Black.eot') format('eot'),
        url('.//fonts/CeraPro-Black.ttf') format('truetype'),
        url('.//fonts/CeraPro-Black.woff') format('woff')
}

@font-face {
    font-family: "CeraProBold"; /* 700 */
    src: url('.//fonts/CeraPro-Bold.woff2') format('woff2'),
        url('.//fonts/CeraPro-Bold.eot') format('eot'),
        url('.//fonts/CeraPro-Bold.ttf') format('truetype'),
        url('.//fonts/CeraPro-Bold.woff') format('woff')
}

@font-face {
    font-family: "CeraProMedium"; /* 500 */
    src: url('.//fonts/CeraPro-Medium.woff2') format('woff2'),
        url('.//fonts/CeraPro-Medium.eot') format('eot'),
        url('.//fonts/CeraPro-Medium.ttf') format('truetype'),
        url('.//fonts/CeraPro-Medium.woff') format('woff')
}

@font-face {
    font-family: "CeraProRegular"; /* 400 */
    src: url('.//fonts/CeraPro-Regular.woff2') format('woff2'),
        url('.//fonts/CeraPro-Regular.eot') format('eot'),
        url('.//fonts/CeraPro-Regular.ttf') format('truetype'),
        url('.//fonts/CeraPro-Regular.woff') format('woff')
}

@font-face {
    font-family: "CeraProLight"; /* 250 */
    src: url('.//fonts/CeraPro-Light.woff2') format('woff2'),
        url('.//fonts/CeraPro-Light.eot') format('eot'),
        url('.//fonts/CeraPro-Light.ttf') format('truetype'),
        url('.//fonts/CeraPro-Light.woff') format('woff')
}

*{
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  border: none;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container{
  padding: 30px 120px 52px;
  display: flex;
  flex-direction: column;
}

.main_header{
  display: flex;
  justify-content: space-between;
  align-items: start;
  border-bottom: 1px solid  rgba(70, 163, 88, 0.50);
  margin-bottom: 12px;
}

.list{
  display: flex;
  gap: 50px;
}

.list-item{
  padding-bottom: 25px;
  border-bottom: 3px solid transparent;
  font-family: "CeraProRegular", sans-serif;  
  position: relative;
  gap: 2px;
}

.list-item:hover{
  border-color: #46A358;
  font-weight: 700;
  font-family: "CeraProBold", sans-serif;
}


.sublist-item{
  position: absolute;
  left: 0;
  top: 100%;
  display: none;
}

.sublist-element > a{
  color: #3D3D3D;
  font-family: "Encode Sans Expanded";
  font-size: 16px;
  font-weight: 400;
  line-height: normal; 
  display: flex;
  gap: 88px;
  padding: 7px 14px;
  align-items: center;
  background-color: #EDF6EE;
}

.sublist-element>a:hover{
  background-color:#1A712A;
  color: #fff;
}

.sublist-element{
  position: relative;
}

.sub-sublist-item{
  position: absolute;
  left: 100%;
  top: 0%;
  display: inline-block;
  width: 100%;
  display: none;
}

.list-item:hover>.sublist-item{
  display: block;
} 

.sublist-element:hover > .sub-sublist-item {
  display: block;
}

.sub-sublist-element>a{
  color: #3D3D3D;
  font-family: "Encode Sans Expanded";
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  display: flex;
  padding: 7px 14px;
}

.sub-sublist-element{
  align-items: center;
  background-color: #EDF6EE;
}

.sub-sublist-element>a:hover{
  background-color: #1A712A;
  color: #fff;
} 



.btn{
  border-radius: 6px;
  background-color: #46A358; 
  color: #fff;
  padding: 7px 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  transition: .1s ease-in;
  transition-property: all 0.1s ease;
}

.btn:hover{
background-color:#3cdf5d ;
transform: scale(1.1);

}


main.main{
  background-color: #F5F5F580;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 46px;
}

.maintext{
  padding: 70px 40px 85px;
  display: flex;   
  flex-direction: column;             
  justify-content: center;
  align-items: flex-start;
  gap: 7px;
  width: 50%;
}

.text{
  text-transform: uppercase;
  color: #3D3D3D;
  font-family: "CeraProMedium", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 1.4px;
  color: #3D3D3D;
}

h1.title{
  color: #3D3D3D;
  font-family: "CeraProBlack", sans-serif;
  font-size: 70px;
  font-weight: 900;
  line-height: 70px;
  text-transform: uppercase; 
}

h1.title::after {
  content: " Planet";
  color: #46A358;
}

.lowtext{
  color: #727272;
  font-family: "CeraProRegular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; 
}

.btn_shopnow{
  color: #FFF;
  font-family: "CeraProBold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px; 
  text-transform: uppercase;
  border-radius: 6px;
  background-color: #46A358;
  padding: 9px 26px;
  margin-top: 37px;
  cursor: pointer;
  transition: 1s;
}

.btn_shopnow:hover{
background-color:#3cdf5d;

}




/* .vase{
width: 40%;
position: relative;
}

.small_vase{
position: absolute;
bottom: 6%;
right: 61%;
 } */ /*2 варіант через position*/

.vase{
  min-height: 450px;
  min-width: 507px;
  height: 100%;
  width: 38%;
  background: url("./images/1.png"),
              url("./images/2.png");
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-position: 15% 93%;
}

.float_categories{
  display: flex;
  gap: 50px;
  margin-bottom: 82px;
}

.left_menu{
  display: flex;
  flex-direction: column;
  height: 100%;
} 

.float_section{
  display: flex;
  flex-direction: column;
  background-color: #FBFBFB;
  padding: 14px 18px;
}

.categories{
  padding: 7px 12px;
  margin-bottom: 36px; 
}

.list-category{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #3D3D3D;
  font-family: "CeraProRegular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 40px;
}

.categories_title{
  color: #3D3D3D;
  font-family: "CeraProBold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 16px; 
  margin-bottom: 7px;
}

.price-slider .line-range{
height: 4px;
  flex-grow: 1; 
 background: #46A358;

  transition: width 0.3s ease;
  
  
}

.price-slider .line-range:last-child {
  margin-right: 20px;}

.price-slider{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 13px;
}

.list-category:hover{
  color: #46A358;
  font-family: "CeraProBold", sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 40px; 
}

.line-range-extra{
/* background: #46A358; */
background-color: rgba(70, 163, 88, 0.2); 
border-radius: 1px;
height: 4px;
flex-grow: 1;

}

.price-value{
color: #3D3D3D;
font-family: "CeraProRegular", sans-serif;
font-size: 15px;
font-weight: 400;
line-height: 16px;
}

.price-value::after {
  content: " $39 - $1230";
  color: #46A358;
font-family: "CeraProBold", sans-serif;
font-size: 15px;
font-weight: 700;
line-height: 16px;
}

.btn_filter{
border-radius: 6px;
background: #46A358;
color: #FFF;
font-family: "CeraProBold", sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 20px;
padding: 8px 25px;
}

.range-info{
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 16px;
margin-top: 21px;
margin-bottom: 46px;

}


.size-name{
color: #3D3D3D;
font-family: "CeraProRegular", sans-serif;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 40px; 
}

.size-count{
color: #3D3D3D;
text-align: right;
font-family: "CeraProRegular", sans-serif;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 40px;
}

.size-item{
 display: flex;
 justify-content: space-between; 
 /* padding: 7px 12px; */
}

.size_main{
  padding: 7px 12px;
}























.img_sale{
  width: 310px;
}

.category-header{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 30px;
}

.tabs ul{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.tabs-item{
  color: #3D3D3D;
  font-family: "CeraProRegular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
  padding-bottom: 7px;
  border-bottom: 2px solid transparent;
}

.tabs-item:hover{
  color: #46A358;
  font-family: "CeraProBold", sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 16px;
  border-color: #46A358;
}

.sorting{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.sort{
  color: #3D3D3D;
  font-family: "CeraProRegular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
}

.catalog_grid{
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: space-between;
  margin-top: 38px;
  gap: 70px 51px ;
  background-color: transparent; 
}

.two-tone{
  background-color: transparent; 
}

.flowers{
  background-color: #FBFBFB;
  mix-blend-mode: multiply;
  padding: 31px 4px 25px;
  margin-bottom: 12px;
}

.product_item {
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  text-align: center; 
  position: relative;
  border-top: 1px solid transparent;
}

.product_item:hover .product-icons{
  display: flex;
}

.product_item:hover{
  border-color: #46A358;
}

.product-name{
  color: #3D3D3D;
  font-family: "CeraProRegular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 6px;
}

.product-price{
  color: #46A358;
  font-family: "CeraProBold", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; 
}

.pagination{
  margin-top: 90px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.page-nav{
  padding: 10px 13px;
  color: #3D3D3D;
  font-family: "CeraProLight", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 16px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #E5E5E5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active_page{
  color: #FFF;
  font-family: "CeraProBold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 16px;
  border-radius: 4px;
  background-color: #46A358;
}

.flex{
  display: flex;
  flex-direction: column;
  margin-bottom: 91px;
}

.popular-items{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 28px;
  margin-bottom: 138px;
}

.plants-card{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #FBFBFB;
} 

.plants{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 9px;
  padding: 37px 30px 37px 0;
}

h3.plant{
  color: #3D3D3D;
  text-align: right;
  font-family: "CeraProBlack", sans-serif;
  font-size: 18px;
  font-weight: 900;
  line-height: 24px; 
  text-transform: uppercase;   
}

p.details{
  color: #727272;
  text-align: right;
  font-family: "CeraProRegular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;  
}

.btn_find_more{
  color: #FFF;
  font-family: "CeraProMedium", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px; 
  border-radius: 6px;
  background-color: #46A358;
  gap: 2px;
  padding: 11px 28px;
  margin-top: 16px;
}

.pop_plants{
  margin-top: -50px;
  padding: 0px 0 10px 0px; 
}

.blog{
  display: flex;
  flex-direction: column;
}

.blog-header{
  text-align: center;
  margin-bottom: 17px;
}

.blog-section{
  display: flex;
  justify-content: space-around;
  gap: 66px;
  margin-top: 20px;
}

.blog-item{
  display: flex; 
  flex-direction: column;
  align-items: flex-start;
  background-color: #FBFBFB;
  gap: 4px;
}

.blog-details{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 9px 11px 12px 15px;
}

.h4.Our_Blog_Posts{
  color: #3D3D3D;
  text-align: center;
  font-family: "CeraProBold", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 16px;
}

.section-subtitle{
  color: #727272;
  text-align: center;
  font-family: "CeraProRegular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.blog-date{
  color: #46A358;
  font-family: "CeraProMedium", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.blog-title{
  color: #3D3D3D;
  font-family: "CeraProBold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
}

.blog-text{
  color: #727272;
  font-family: "CeraProRegular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px; 
  gap: 9px;
}

.blog-link{
  color: #3D3D3D;
  font-family: "CeraProMedium", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px; 
  background-color: transparent;
  margin-top: 5px;
}

.product-icons{
  display: none;
  position: absolute;
  top: 75%;
  left: 23%;
  border-radius: 4px;
  background-color:transparent;
  gap: 10px;
  transition: all .3s ease-in-out;
}

.icon-box{
  display: flex;
  padding: 6px 8px;
  border-radius: 4px;
  background-color: #FFF;
}

.icon-box svg path{
  fill: #3D3D3D;
  transition: fill .3s ease-in-out;
}

.icon-box:hover svg path{
  fill: #46A358;
}

.discount{
  display: flex;
  position: absolute;
  color: #FFF;
  font-family:  "CeraProMedium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  background-color: #46A358;
  padding: 7px 8px;
  margin-top: 14px;
}

.lowPrice {
  display: flex;
  position: absolute;
  right: 46%;
  top: 96%;
  color: #A5A5A5;
  font-family: "CeraProRegular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 16px;
  text-decoration: line-through;
}

.services{
  display: flex;
  justify-content: space-between;
  background: #FBFBFB;
}


.text_srvc{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.ftr_title{
  color: #3D3D3D;
  font-family: "CeraProBold", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  margin-bottom: 9px;
}

.ftr_descr{
  color: #727272;
  font-family: "CeraProRegular", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;   
}

.icon1, .icon2, .icon3{
  width: 77px;
  height: 95.473px;
  background-repeat: no-repeat;
  background-size:contain;
  margin-bottom: 6px;
} 

.icon1{
  background-image: url(./images/background/1.png);
}

.icon2{
  background-image: url(./images/background/2.png);
}

.icon3{
  background-image: url(./images/background/3.png);
}

 .newsletter{
  display: flex;
  flex-direction: column;
  padding: 37px 25px 25px 32px;
 }

.email{
  border-radius: 6px;
  background: #FFF;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.06);
  padding: 12px 86px 12px 11px;
}

.email::placeholder{
  color: #ACACAC;
  font-family: "CeraProRegular", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; 
}

.newsletter-inputs{ 
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 18px;
} 

.service{
  padding: 24px 42px;
  position: relative;
}

h3.ftr_question{
  color: #3D3D3D;
  font-family: "CeraProBold", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  padding: 13px 56px 25px 0; 
}

.btn_join{
  color: #FFF;
  font-family: "CeraProBold", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  border-radius: 0 6px 6px 0;
  background: #46A358;
  padding: 12px 25px;
}

.ftr_nwsletter_txt{
  color: #727272;
  font-family: "CeraProRegular", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; 
  width: 86%;
}

.service:nth-child(-n+2)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 31px;
  bottom: 34px;
  width: 1px;
  background: rgba(70,163,88,0.1);
}

.contact-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 27px 23px;
  background-image: linear-gradient(90deg,#EDF6EF, #52C368);
}

.address, .cnt_email, .cnt_phone{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3D3D3D;
  font-family: "CeraProRegular", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  gap: 10px;
}

.cnt_icon{
  padding: 2.5px 2.5px;
}

.footer{
  display: flex;
  background: #FBFBFB;
  justify-content:flex-start;
  border-bottom: 1px solid rgba(70, 163, 88, 0.20);
}

.footer-main {
  display: flex;
  background: #FBFBFB;
  justify-content: space-between;
  align-items: start;
  width: 100%;
}

.footer_bottom{
  display: flex;
  padding: 33px 0 29px 25px;
}

.footer_social_media{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 29%;
} 

.social_media .icons{
  display: flex; 
  gap: 10px;
  padding: 20px 0 33px ;
}

.social_media .title{
  margin-bottom:  13px;
}

.ftr-main{
  color: #3D3D3D;
  font-family: "CeraProBold", serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 16px;
  margin-bottom: 8px;
}

.list_ftr-main li{
  color: #3D3D3D;
  font-family: "CeraProRegular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}

.social_media span{
  color: #3D3D3D;
  font-family: "CeraProBold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 16px;
}

.copyright{
  text-align: center;
  color: #3D3D3D;
  font-family: "CeraProRegular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}