@font-face {
    font-family: "CeraProBold";
    src: url('.//fonts/CeraPro-Bold.woff2') format('woff2'),
        url('.//fonts/CeraPro-Bold.eot') format('eot'),
        url('.//fonts/CeraPro-Bold.ttf') format('truetype'),
        url('.//fonts/CeraPro-Bold.woff') format('woff')
}

@font-face {
    font-family: "CeraProMedium";
    src: url('.//fonts/CeraPro-Medium.woff2') format('woff2'),
        url('.//fonts/CeraPro-Medium.eot') format('eot'),
        url('.//fonts/CeraPro-Medium.ttf') format('truetype'),
        url('.//fonts/CeraPro-Medium.woff') format('woff')
}

@font-face {
    font-family: 'CeraProRegular';
    src: url('.//fonts/CeraPro-Regular.woff2') format('woff2'),
        url('.//fonts/CeraPro-Regular.eot') format('eot'),
        url('.//fonts/CeraPro-Regular.ttf') format('truetype'),
        url('.//fonts/CeraPro-Regular.woff') format('woff')
}

.login {
    font-family: 'CeraProRegular', sans-serif;
    color: #3D3D3D;
    font-size: 20px;
    font-style: normal;
    line-height: 16px;
}

.register{
color: #46A358;
font-family: 'CeraProMedium', sans-serif;
font-size: 20px;
font-style: normal;
line-height: 16px;
}