@font-face {
    font-family: "CeraProBlack"; /* 900 */
    src: url('.//fonts/CeraPro-Black.woff2') format('woff2'),
        url('.//fonts/CeraPro-Black.eot') format('eot'),
        url('.//fonts/CeraPro-Black.ttf') format('truetype'),
        url('.//fonts/CeraPro-Black.woff') format('woff')
}

@font-face {
    font-family: "CeraProBold"; /* 700 */
    src: url('.//fonts/CeraPro-Bold.woff2') format('woff2'),
        url('.//fonts/CeraPro-Bold.eot') format('eot'),
        url('.//fonts/CeraPro-Bold.ttf') format('truetype'),
        url('.//fonts/CeraPro-Bold.woff') format('woff')
}

@font-face {
    font-family: "CeraProMedium"; /* 500 */
    src: url('.//fonts/CeraPro-Medium.woff2') format('woff2'),
        url('.//fonts/CeraPro-Medium.eot') format('eot'),
        url('.//fonts/CeraPro-Medium.ttf') format('truetype'),
        url('.//fonts/CeraPro-Medium.woff') format('woff')
}

@font-face {
    font-family: "CeraProRegular"; /* 400 */
    src: url('.//fonts/CeraPro-Regular.woff2') format('woff2'),
        url('.//fonts/CeraPro-Regular.eot') format('eot'),
        url('.//fonts/CeraPro-Regular.ttf') format('truetype'),
        url('.//fonts/CeraPro-Regular.woff') format('woff')
}

@font-face {
    font-family: "CeraProLight"; /* 250 */
    src: url('.//fonts/CeraPro-Light.woff2') format('woff2'),
        url('.//fonts/CeraPro-Light.eot') format('eot'),
        url('.//fonts/CeraPro-Light.ttf') format('truetype'),
        url('.//fonts/CeraPro-Light.woff') format('woff')
}

*{
margin: 0;
padding: 0;
list-style-type: none;
text-decoration: none;
border: none;
box-sizing: border-box;
font-family: sans-serif;
}

.container{
padding: 30px 120px 52px;
display: flex;
flex-direction: column;
}

.main_header{
display: flex;
justify-content: space-between;
align-items: start;
border-bottom: 1px solid  rgba(70, 163, 88, 0.50);
margin-bottom: 12px;
}

.list{
display: flex;
gap: 50px;
}


.list-item{
padding-bottom: 25px;
border-bottom: 3px solid transparent;
font-family: "CeraProRegular", sans-serif;  
position: relative;

}


.sublist-item{
position: absolute;
left: -63%;
top: 100%;
margin-bottom: 37px;
min-width: 188px;
}


.sublist-element > a{
color: #3D3D3D;
font-family: "Encode Sans Expanded";
font-size: 16px;
font-weight: 400;
line-height: normal; 
display: flex;
gap: 88px;
padding: 7px 17px;
align-items: center;
background-color: #EDF6EE;
}


.active{
border-color: #46A358;
font-weight: 700;
font-family: "CeraProBold", sans-serif;
}

.btn{
border-radius: 6px;
background-color: #46A358; 
color: #fff;
padding: 7px 17px;
display: flex;
justify-content: center;
align-items: center;
gap: 4px;
}

main.main{
background-color: #F5F5F580;
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 46px;
}

.maintext{
padding: 70px 40px 85px;
display: flex;   
flex-direction: column;             
justify-content: center;
align-items: flex-start;
gap: 7px;
width: 50%;
}

.text{
text-transform: uppercase;
color: #3D3D3D;
font-family: "CeraProMedium", sans-serif;
font-size: 14px;
font-weight: 500;
line-height: 16px;
letter-spacing: 1.4px;
color: #3D3D3D;
}

h1.title{
color: #3D3D3D;
font-family: "CeraProBlack", sans-serif;
font-size: 70px;
font-weight: 900;
line-height: 70px;
text-transform: uppercase; 
}

h1.title::after {
content: " Planet";
color: #46A358;
}

.lowtext{
color: #727272;
font-family: "CeraProRegular", sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 24px; 
}

.btn_shopnow{
color: #FFF;
font-family: "CeraProBold", sans-serif;
font-size: 16px;
font-weight: 700;
line-height: 20px; 
text-transform: uppercase;
border-radius: 6px;
background-color: #46A358;
padding: 9px 26px;
margin-top: 37px;
}

/* .vase{
width: 40%;
position: relative;
}

.small_vase{
position: absolute;
bottom: 6%;
right: 61%;
 } */ /*2 варіант через position*/

.vase{
min-height: 450px;
min-width: 507px;
height: 100%;
width: 38%;
background: url("./images/1.png"),
            url("./images/2.png");
background-repeat: no-repeat;
background-repeat: no-repeat;
background-position: 100% 50%;
background-position: 15% 93%;
}

.float_categories{
display: flex;
justify-content: space-between;
gap: 50px;
margin-bottom: 82px;
}

.left_menu{
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
height: 100%;
} 

.float_section{
background-color: #FBFBFB;
padding: 14px 175px 0 18px;
}

.categories{
padding: 7px 12px;
margin-bottom: 363px;  
}

.list-category{
color: #3D3D3D;
font-family: "CeraProRegular", sans-serif;
font-size: 15px;
font-weight: 400;
line-height: 40px;
}

h4{
color: #3D3D3D;
font-family: "CeraProBold", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 16px; 
}

.active_text{
color: #46A358;
font-family: "CeraProBold", sans-serif;
font-size: 15px;
font-weight: 700;
line-height: 40px; 
}

.img_sale{
width: 310px;
}

.category-header{
display: flex;
justify-content: space-between;
align-items: flex-start;
margin-bottom: 30px;
}

.tabs ul{
display: flex;
align-items: center;
justify-content: center;
gap: 40px;
}

.tabs-item{
 color: #3D3D3D;
font-family: "CeraProRegular", sans-serif;
font-size: 15px;
font-weight: 400;
line-height: 16px;
padding-bottom: 7px;
border-bottom: 2px solid transparent;
}

.active_tabs{
color: #46A358;
font-family: "CeraProBold", sans-serif;
font-size: 15px;
font-weight: 700;
line-height: 16px;
border-color: #46A358;
}

.sorting{
display: flex;
align-items: center;
justify-content: center;
gap: 8px;
}

.sort{
color: #3D3D3D;
font-family: "CeraProRegular", sans-serif;
font-size: 15px;
font-weight: 400;
line-height: 16px;
}

.catalog_grid{
display: flex;
flex-flow: row wrap;
align-content: center;
justify-content: space-between;
margin-top: 38px;
gap: 70px 51px ;
background-color: transparent; 
}

.two-tone{
background-color: transparent; 
}

.flowers{
background-color: #FBFBFB;
mix-blend-mode: multiply;
padding: 31px 4px 25px;
margin-bottom: 12px;
}

.product_item {
display: flex;
flex-direction: column; 
align-items: flex-start; 
text-align: center; 
position: relative;
border-top: 1px solid transparent;
}

.product_item.active{
border-color: #46A358;
}

.product-name{
color: #3D3D3D;
font-family: "CeraProRegular", sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 16px;
margin-bottom: 6px;
}

.product-price{
color: #46A358;
font-family: "CeraProBold", sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 16px; 
}

.pagination{
 margin-top: 90px;
 display: flex;
 align-items: center;
 justify-content: flex-end;
 gap: 10px;
}

.page-nav{
padding: 10px 13px;
color: #3D3D3D;
font-family: "CeraProLight", sans-serif;
font-size: 18px;
font-weight: 300;
line-height: 16px;
background-color: transparent;
border-radius: 4px;
border: 1px solid #E5E5E5;
display: flex;
justify-content: center;
align-items: center;
}

.active_page{
color: #FFF;
font-family: "CeraProBold", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 16px;
border-radius: 4px;
background-color: #46A358;
}

.flex{
display: flex;
flex-direction: column;
}

.popular-items{
display: flex;
justify-content: space-between;
align-items: flex-start;
gap: 28px;
margin-bottom: 138px;
}

.plants-card{
display: flex;
justify-content: flex-end;
align-items: center;
background: #FBFBFB;
} 

.plants{
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: flex-end;
gap: 9px;
padding: 37px 30px 37px 0;
}

h3.plant{
color: #3D3D3D;
text-align: right;
font-family: "CeraProBlack", sans-serif;
font-size: 18px;
font-weight: 900;
line-height: 24px; 
text-transform: uppercase;   
}

p.details{
color: #727272;
text-align: right;
font-family: "CeraProRegular", sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 24px;  
}

.btn_find_more{
color: #FFF;
font-family: "CeraProMedium", sans-serif;
font-size: 14px;
font-weight: 500;
line-height: 20px; 
border-radius: 6px;
background-color: #46A358;
gap: 2px;
padding: 11px 28px;
margin-top: 16px;
}

.pop_plants{
margin-top: -50px;
padding: 0px 0 10px 0px; 
}

.blog{
display: flex;
flex-direction: column;
}

.blog-header{
text-align: center;
margin-bottom: 17px;
}

.blog-section{
display: flex;
justify-content: space-around;
gap: 66px;
margin-top: 20px;
}

.blog-item{
display: flex; 
flex-direction: column;
align-items: flex-start;
background: #FBFBFB;
gap: 4px;
}

.blog-details{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 9px 11px 12px 15px;
}

.h4.Our_Blog_Posts{
color: #3D3D3D;
text-align: center;
font-family: "CeraProBold", sans-serif;
font-size: 30px;
font-weight: 700;
line-height: 16px;
}

.section-subtitle{
color: #727272;
text-align: center;
font-family: "CeraProRegular", sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 24px;
}

.blog-date{
color: #46A358;
font-family: "CeraProMedium", sans-serif;
font-size: 14px;
font-weight: 500;
line-height: 16px;
}

.blog-title{
color: #3D3D3D;
font-family: "CeraProBold", sans-serif;
font-size: 20px;
font-weight: 700;
line-height: 26px;
}

.blog-text{
color: #727272;
font-family: "CeraProRegular", sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 22px; 
gap: 9px;
}

.blog-link{
color: #3D3D3D;
font-family: "CeraProMedium", sans-serif;
font-size: 14px;
font-weight: 500;
line-height: 16px; 
background-color: transparent;
margin-top: 5px;
}

.product-icons{
display: flex;
position: absolute;
top: 75%;
left: 23%;
border-radius: 4px;
background-color:transparent;
gap: 10px;
}

.icon-box{
display: flex;
padding: 6px 8px;
border-radius: 4px;
background-color: #FFF;
}

.discount{
display: flex;
position: absolute;
color: #FFF;
font-family:  "CeraProMedium", sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 16px;
background-color: #46A358;
padding: 7px 8px;
margin-top: 14px;
}

.lowPrice {
display: flex;
position: absolute;
right: 46%;
top: 96%;
color: #A5A5A5;
font-family: "CeraProRegular", sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 16px;
text-decoration: line-through;
}





